<p class="welcome">
  hello User Welcome to Our Wallet
</p>
<br>


<marquee>
  Our Wallet is  Most Trusted and Secured Wallet to Keep Your Money and you can Transfer Fund as Globally
</marquee>
<br>

<p class="userNote">
        Hello User !, the name Prime is inspired from the "OPTIMUS PRIME"  one of the transformers robot.
</p>



<body>
<div class="total">
    <div class="olduser">
      <h2>for New User's</h2>
      &nbsp; hi, Go to Create Page and Fill your Details and Enter the Initial Deposit or also We Provide Zero balance Account. After that it redirects to
      Account Login page Now You can Login.
    </div>

  <div class="newuser">
    <h2>for Old User's</h2>
    &nbsp; hi, To Access Our Service's like  FUND transfer, WithDraw Funds, Add funds, Account Setting. You Need to Login With a Valid PrimeWallet Account...
<h2> for Admin</h2>
    &nbsp;  &nbsp; hi, Go to Admin to Access All the Wallet and Modify them.
    <br>
    <small> Note: username and password is admin</small>
  </div>
</div>
</body>

<footer>
  Version 1.0 PrimeWallet
</footer>
