<br>
<br>
<br>
<br>
<h1>
 &nbsp;Home
</h1>
<br>
<br>

<marquee>
  Dear User Our Site Not Allow Refresh, if Your Refresh this site You Need to LOGIN Again...! &  Please LOGOUT...!   When You Exit...
</marquee>

<body>
<form>
  <label>ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;:{{id}}</label>
  <br><br>
  <label>Name&nbsp;&nbsp;&nbsp;&emsp;:{{wallet.name}}</label>
  <br><br>
  <label>Balance  &nbsp;&nbsp;&nbsp;:{{wallet.balance}}</label>
  <br><br>
  <label>G-Mail &nbsp;&emsp;:{{wallet.eMail}}</label>
  <br><br>
  <label>Password :{{wallet.password}}</label>
  <br><br>
  <label>FTPin &nbsp;&nbsp;&emsp;:{{wallet.fundTransferPin}}</label>
  <br><br>
  <label>Date &nbsp;&nbsp;&nbsp;&emsp;:{{wallet.createdDate| date}}</label>
  <br><br>
</form>
</body>
