<br>
<br>
<br>
<br>
<h1>
  &nbsp;Fund Transfer
</h1>

<body>
<form autocomplete="on">
  <br>
  <label>ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;:&nbsp;&nbsp;&nbsp;&emsp;{{id}}</label>
  <br><br>
  <label for="amount">Amount&emsp;:</label>
  <input type="number" [(ngModel)]= "amount" name="amount" id="amount">
  <br><br>
  <label for="toid" >To ID&nbsp;&nbsp;&emsp;:</label>
  <input type="number"   [(ngModel)]=" toID" name="toid" maxlength="6" id="toid"  >
  <br><br>
  <label for="pin">Pin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;:</label>
  <input type="number" [(ngModel)]= "pin" name="pin" maxlength="4" id="pin">
  <br>
  <button type="button"(click)="fundtransfer()" value="Create" >Transfer Funds</button>
  <br>
</form>
</body>
