<h1>Welcome
  <div class="name">
    {{userName|uppercase}}
  </div>
</h1>
<body>
<nav>
  <ul>

    <li> <a routerLink="mypage">🏡MyPage</a> </li>
    <li>  <a routerLink="addFunds">AddFunds</a></li>
    <li>  <a routerLink="fundTransfer">Fund Transfer</a></li>
    <li> <a routerLink="withDraw">Withdraw</a> </li>
    <li>  <a routerLink="updateWallet">Update</a></li>
    <li>  <a class="delete" routerLink="deleteWallet">DELETE</a></li>
    <li class="log">  <button class="logout"  (click)="logout()">LogOUT !</button> </li>
<br>
 <br>
    <router-outlet></router-outlet>
  </ul>
</nav>
<br>
</body>



